<div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Home</a>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="form-group">
                <input type="text" class="form-control" maxlength="200" placeholder="Busca" ng-model="vm.search" ng-change="vm.searchChange()">
            </div>
        </div>
        <div class="row">
            <table class="table table-striped table-bordered table-hover table-condensed">
                <thead>
                    <tr>
                        <th> Nome </th>
                        <th> Telefone </th>
                        <th> Editar </th>
                        <th> Excluir </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="person in vm.people">
                        <td>{{ person.name }}</td>
                        <td>{{ person.phone }}</td>
                        <td><a href="#" ng-click="vm.edit(person)">editar</a></td>
                        <td><a href="#" ng-click="vm.delete(person)">excluir</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <button class="btn btn-lg btn-primary" ng-click="vm.createNew()">Novo</button>
        </div>
    </div>
</div>